/*  mainContainer */
body {
    /* background: #1d2741; */
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.mainContainer {
    text-align: center;

    & h1 {
        font-size: 36px;
        margin-top: 50px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        display: inline-block;
        padding: 15px;
        font-size: 20px;
    }

    button {
        background: #769FCD;
        border-radius: 25px;
        border: none;
        color: #f0f0f0;
        width: 150px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #ffffff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

        img {
            width: 25px;
            height: 25px;
            vertical-align: middle;
        }

        &:hover {
            background: #5a7ea8;
            cursor: pointer;
            transition: background 0.3s ease;
        }
    }

    p#dayofweek {
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 24px;

    }

    .todaysClass {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 0px;

        }

        & ul li #classInfo {
            width: 500px;
            height: 120px;
            border: 2.5px solid #769FCD;
            border-radius: 25px;
            align-items: center;
            margin: 20px;
            display: flex;
            justify-content: space-between;
        }

        & ul li #classInfo #tc-text {
            width: 100%;
            margin: 20px;
        }

        & ul li #classInfo #tc-subject {
            font-size: 26px;
            font-weight: bold;
            text-align: left;

            margin-bottom: 0px;
        }

        & ul li #classInfo #tc-icon {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-right: 20px;
            ;
        }

        & ul li #classInfo img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
        }


        & ul li #classInfo span {
            justify-content: space-between;
            display: flex;
        }

        & ul li #classInfo #tc-teacher {
            text-align: right;
            margin-top: 10px;
        }

        & ul li #classInfo #tc-room {
            text-align: right;
            margin-top: 10px;
        }


    }
}




#timetableContainer {
    margin-top: 20px;
}


/* ---------------------- */
/* fullTimetableContainer */
/* ---------------------- */

#fullTimetableContainer {
    flex: 1;
    overflow-y: auto;

    table {
        width: 100%;
        border-collapse: collapse;
    }
}

.modalDialog {
    width: 90%;
    height: 90%;
    padding: 20px;
    margin-top: 2%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

    &[open] {
        display: flex;
        flex-direction: column;
    }

    .button-primary {
        margin-right: 10px
    }

    .filter-group {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .filter-group.show .dropdown-content {
        display: block;
    }

    .filter-label {
        font-size: 13px;
        color: #666;
        margin-bottom: 2px;
        white-space: nowrap;
    }


    .filter-section {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: flex-end;
        margin-top: 20px;
    }

    .search-input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-left: auto;
    }

    .button-primary {
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #d0d0d0;
        }

        &#add {
            font-weight: bold;
        }
    }

    .search-input-group {
        margin-left: auto;
        /* Pushes the search input to the right */
    }

    .search-input-group input[type="text"] {
        width: 250px;
        ;
        padding: 10px 15px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        font-size: 14px;
        color: #555;
        outline: none;
        transition: border-color 0.2s;
    }

    .search-input-group input[type="text"]::placeholder {
        color: #aaa;
    }

    .search-input-group input[type="text"]:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
    }

    .search-results-summary {
        text-align: right;
        font-size: 13px;
        color: #777;
        /* margin-bottom: 15px; */
    }


    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        color: #333;
    }

    th {
        font-weight: 600;
        color: #555;
        white-space: nowrap;
    }

    td {
        /* height: 50px; */
        min-height: 10px;

        & input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        & a.course-name-link {
            color: #333333;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;


            &:hover {
                text-decoration: underline;
            }
        }

        & p#sp-label {
            display: none;
        }
    }


    /* 曜日 */
    table th:nth-child(1),
    table td:nth-child(1) {
        width: 20px;
        min-width: 10px;
        text-align: center;
    }

    /* 時限 */
    table th:nth-child(2),
    table td:nth-child(2) {
        width: 20px;
        min-width: 10px;
        text-align: center;
    }

    /* 学期 */
    table th:nth-child(3),
    table td:nth-child(3) {
        width: 60px;
    }

    /* 学年 */
    table th:nth-child(4),
    table td:nth-child(4) {
        width: 20px;
        min-width: 10px;
        text-align: center;
    }

    /* クラス */
    table th:nth-child(5),
    table td:nth-child(5) {
        width: 40px;
    }

    /* 科目名 */
    table th:nth-child(6),
    table td:nth-child(6) {
        width: 300px;
        min-width: 200px;

    }

    /* 担当者 */
    table th:nth-child(7),
    table td:nth-child(7) {
        width: 200px;
        min-width: 100px;
    }

    /* 講義コード */
    table th:nth-child(8),
    table td:nth-child(8) {
        width: 50px;
    }

    /* 教室 */
    table th:nth-child(9),
    table td:nth-child(9) {
        width: 30px;
    }

    /* 備考 */
    table th:nth-child(10),
    table td:nth-child(10) {
        width: 150px;
        min-width: 50px;
    }

    /* 備考欄 */
    table th:nth-child(11),
    table td:nth-child(11) {
        width: 50px;
        text-align: center;
        /* margin-top: 15px; */
    }

    /* チェックボックス */
    table th:nth-child(12),
    table td:nth-child(12) {
        width: 50px;
        text-align: center;
    }

    thead {
        background-color: #f7f7f7;

        th {
            position: sticky;
            top: 0;
            background-color: #f7f7f7;
            z-index: 10;
        }
    }

    tbody tr:last-child td {
        border-bottom: none;
    }


    tbody tr:nth-child(odd) {
        background-color: #ffffff;
        /* 奇数行の背景色（白など） */
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
        /* 偶数行の背景色（薄いグレーなど） */
    }

    /* 既存のホバー時のスタイルも考慮する */
    tbody tr:hover {
        background-color: #eaf6ff;
        /* ホバー時の背景色 (少し明るい青など) */
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        /* 他の要素の上に表示 */
        border-radius: 5px;
        top: 100%;
        /* ボタンのすぐ下に配置 */
        left: 0;
        margin-top: 5px;
        /* ボタンとの隙間 */
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .notFoundMsg {
        margin-left: 10px;
        padding: 5px;
    }
}

footer {
    text-align: center;
    margin: 50px;

    #updateHistory {
        text-align: left;
        display: inline-block;
    }

    & ul {
        display: flex;
        list-style-type: none;
    }

    & ul li {
        display: inline-block;
        padding: 5px 15px;
        font-size: 16px;
    }

    & ul li#commit-date {
        text-align: right;
        width: 180px;
    }

    & a {
        color: #333333;
    }
}


/* ------------------------ */
/* responsive configuration */
/* ------------------------ */
@media (max-width: 600px) {

    .mainContainer {
        p#dayofweek {
            font-size: 18px;
        }

        & .todaysClass {
            & ul li #classInfo {
                width: 320px;
                height: 100px;
            }

            li {
                gap: 10px;
            }

            & ul li #classInfo #tc-subject {
                font-size: 20px;
            }

            & ul li #classInfo #tc-teacher {
                font-size: 13px;
            }

            & ul li #classInfo img {
                width: 20px;
                height: 20px;
            }

            & ul li #classInfo #tc-room {
                font-size: 13px
            }

            & ul li #classInfo #tc-icon {
                gap: 8px;
            }
        }


    }


    thead {
        display: none;
    }

    #fullTimetableContainer {
        overflow-x: hidden !important;
    }

    tr {
        padding: 0.5em;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.2em 0.5em;


        #dow,
        #hour,
        #semester,
        #schoolYear,
        #class {
            grid-column: span 1 !important;

        }

        #subject {
            grid-column: span 5 !important;
        }

        #teacher {
            grid-column: span 3 !important;
        }

        #courseCode {
            grid-column: span 2 !important;
        }


        #checkbox {
            grid-column: span 1 !important;
        }

        #room,
        #notes {
            grid-column: span 2 !important;
        }
    }

    th,
    td {
        box-sizing: border-box;
        padding: 6px 10px !important;

        &[data-sp-display="none"] {
            display: none;
        }
    }

    td {
        line-break: strict;
        word-break: break-all;
        border: none;


        &[data-sp-display="primary"] {
            font-size: 1.3em !important;
            font-weight: bold;
            /* flex-basis: 100%; */
        }

        &[data-sp-display="secondary"] {
            /* padding: 0 0.8em; */
            /* border-radius: 0.5lh; */

            font-size: 1em !important;
            font-weight: bold;
        }

        &[data-sp-display="normal"] {
            /* padding: 0 0.8em; */
            border-radius: 0.5lh;

            font-size: 1em !important;
            font-weight: bold;
        }



        & #checkbox {
            width: 25px;
        }

        & #sp-label {
            display: block !important;
            font-size: 8pt;
            line-height: 0;
            font-weight: normal;
            ;
        }
    }


    /* 曜日 */
    table th:nth-child(1),
    table td:nth-child(1) {
        /* min-width: calc(5% - 10px) !important; */
        /* max-width: 15% !important; */
        width: 100% !important;
        text-align: center;
    }

    /* 時限 */
    table th:nth-child(2),
    table td:nth-child(2) {
        /* min-width: calc(5% - 10px) !important; */
        width: 100% !important;
        text-align: center;
    }

    /* 学期 */
    table th:nth-child(3),
    table td:nth-child(3) {
        /* min-width: calc(15% + 10px) !important; */
        width: 100% !important;
        text-align: center !important;
    }

    /* 学年 */
    table th:nth-child(4),
    table td:nth-child(4) {
        width: 100% !important;
        text-align: center !important;
    }

    /* クラス */
    table th:nth-child(5),
    table td:nth-child(5) {
        width: 100% !important;
        text-align: center !important;
    }

    /* 科目名 */
    table th:nth-child(6),
    table td:nth-child(6) {
        width: 100% !important;
        word-break: break-all;
        text-align: center !important;

    }

    /* 担当者 */
    table th:nth-child(7),
    table td:nth-child(7) {
        width: 100% !important;
        text-align: center !important;
    }

    /* 講義コード */
    table th:nth-child(8),
    table td:nth-child(8) {
        width: 100% !important;
        text-align: center !important;
    }

    /* 教室 */
    table th:nth-child(9),
    table td:nth-child(9) {
        width: 100% !important;
        text-align: center !important;
    }

    /* 備考 */
    table th:nth-child(10),
    table td:nth-child(10) {
        width: 100% !important;
        text-align: center !important;
    }

    /* 備考欄 */
    table th:nth-child(11),
    table td:nth-child(11) {
        width: 100% !important;
        text-align: center !important;
    }

    /* チェックボックス */
    table th:nth-child(12),
    table td:nth-child(12) {
        width: 100% !important;
        text-align: center !important;
    }


}